<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des étudiants</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <a style="display:flex; justify-content:center;" class="underlineHover" th:href="@{/home}">Retour</a>
    <div class="bs-example container" data-example-id="striped-table">
        <table class="table table-striped table-bordered table-hover">
            <caption>Liste des étudiants</caption>
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Mail</th>
                <th>Adresse</th>
                <th>Téléphone</th>
                <th>Date de naissance</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="studentelement : ${studentlist}">
                <tr>
                    <td><span th:text="${studentelement.surname}"> Surname </span></td>
                    <td><span th:text="${studentelement.firstname}"> Firstname </span></td>
                    <td><span th:text="${studentelement.mail}"> Mail </span></td>
                    <td><span th:text="${studentelement.address}"> Address </span></td>
                    <td><span th:text="${studentelement.phone}"> Phone </span></td>
                    <td><span th:text="${studentelement.dateofbirth}"> Dateofbirth </span></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</body>
</html>